/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 400px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: 0.3s ease-out;
}

.wrapper:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.wrapper .image {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: #000;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
}

.wrapper .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease-out;
}

.wrapper:hover .image {
  transform: translateY(-100px);
}

.wrapper:hover .image img {
  opacity: 0.7;
}

.wrapper .content {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
}

.wrapper .content .info {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #000;
  text-align: center;
  line-height: 27px;
}

.wrapper .content .info h2 {
  font-size: 26px;
  margin: 3px 0;
}

.wrapper .content .info span {
  color: #1a1a1a;
}

.wrapper ul {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  list-style: none;
}

.wrapper ul li {
  margin: 0 5px;
}

.wrapper ul li a {
  display: block;
  height: 50px;
  width: 50px;
  background: #fff;
  color: #000;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  transform: translateY(200px);
  opacity: 0;
  transition: 0.3s ease;
}

.wrapper:hover ul li a {
  transform: translateY(0px);
  opacity: 1;
}

.wrapper ul li:nth-child(2) a {
  transition-delay: 0.1s;
}

.wrapper ul li:nth-child(3) a {
  transition-delay: 0.2s;
}

.wrapper ul li:nth-child(4) a {
  transition-delay: 0.3s;
}

.wrapper ul li:nth-child(5) a {
  transition-delay: 0.4s;
}
